<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}"><!--dentro de la etiqueta de head creamos un ruta para llamar la plantilla
        creada. El codigo dice que reemplace head por el fragmento en el plantilla
        th:replace es al instruccion
        ~{layout: es el folder
           plantilla: es la archivo html
          head: el nombre del fragmento en el archivo plantilla}-->
        <title>TODO supply a title</title>        
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/> <!-- se crea un fragmento que llama header de body-->

        <section th:replace="~{producto/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{producto/fragmentos :: agregarProducto}"/>
        <section th:replace="~{producto/fragmentos :: listadoProductos}"/>


        <footer th:replace="~{layout/plantilla :: footer}" />


    </body>
</html>
